# Qualcomm Management Interface Multiplexer
type qmuxd, domain, device_domain_deprecated;
type qmuxd_exec, exec_type, vendor_file_type, file_type;

# Started by init
init_daemon_domain(qmuxd)


# /dev/hsicctl* node access
allow qmuxd radio_device:chr_file rw_file_perms;

# wake lock access
wakelock_use(qmuxd)
